body{
    background-color:#3A6EA5;
    text-align: center;
    position: relative;
}
#heading{
    font-size: 40px;
    background-color: #3A6EA5;
    text-align: center;
    margin: 0;
    

    padding: 12px;

}
#marks{
    font-size: 12px;
}
.card{
    display:flex;
    width: 365px;
   height: 300px;
 
   margin-left: 39%;
    background-color: #004E98;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(163, 161, 161, 0.1);
}
#button{
    margin-left: 19px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
  transform: scale(1.1);
  color: black;
  background-color: #004E98;
}
.subcard{
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.sub{
    margin: 5px;
    border: 1px solid black;
    
}.result-card {
    display: none; /* Initially hide the result card */
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#resultHeading {
    margin-bottom: 10px;
}

#resultPercentage {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}